<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'master.html' %}
    {% load static %}
</head>

<body>
    {% block content %}
    <div class="container ">
        <h1 class="page-header">Create new password.</h1>
        <h3>We'll ask for this password whenever you sign in.</h1>
            <form class="form change-pass" method="POST">
                {% csrf_token %}
                    <label for="id_password1">New password:</label>
                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="input fg-ip">
                    <span class="helptext">
                        <p class="cp">Your password can’t be too similar to your other personal information.</p>
                        <p class="cp">Your password must contain at least 8 characters.</p>
                        <p class="cp">Your password can’t be a commonly used password.</p>
                        <p class="cp">Your password can’t be entirely numeric.</p>
                    </span>
                    <br>
                    <label for="id_password2">Password confirmation:</label>
                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="input fg-ip">
                    {% if messages %}
                    {% for i in messages %}
                    <span class="{{ i.tags }}">{{ i }}</span>
                    {% endfor %}
                    {% endif %}
                    <input type="submit" value="Save Changes" class="button cp-btn">
            </form>
            
    </div>
    {% endblock %}
</body>

</html>