<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'master.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <div class="container ">
        <h1 class="page-header">Forget your password.</h1>
        <form class="form forget" method="POST">
            {% csrf_token %}
            <input type="email" name="emailid" class="input fg-ip">
            <input type="submit" value="SEND" class="button fg-btn">
        </form>

    </div>
    {% endblock %}
</body>
</html>