
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 md-title" id="staticBackdropLabel">How can we get in touch with you?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'account:bookings' trip_detail.id %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="BK_Name" required>
              <label for="floatingInput">NAME</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Phone" name="BK_Phone" required>
              <label for="floatingInput">PHONE</label>
            </div>
            <!--<div class="form-floating mb-3">-->
            <!--  <input type="text" class="form-control" id="floatingInput" placeholder="Email Id" name="BK_Email" required>-->
            <!--  <label for="floatingInput">EMAIL ID</label>-->
            <!--</div>-->
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="travel-date" name="BK_travel_date" required>
              <label for="travel-date ">TRAVEL DATE</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-control" name="BK_No_of_travelers" id="floatingInput" class="form-select" aria-label="Default select example" required>
                <option class="form-control" value="1">1</option>
                <option class="form-control" value="2">2</option>
                <option class="form-control" value="3">3</option>
                <option class="form-control" value="4">4</option>
                <option class="form-control" value="5">5</option>
                <option class="form-control" value="6">6</option>
                <option class="form-control" value="7">7</option>
                <option class="form-control" value="8">8</option>
                <option class="form-control" value="9">9</option>
                <option class="form-control" value="10">10</option>
              </select>
              <label for="BK_No_of_travelers">NO OF TRAVELERS</label>
            </div>
        </div>
        <div class="modal-footer">

          <button type="submit" class="button">Confirm Booking</button>
        </div>
        </form>
      </div>
    </div>
  </div>

